
# Core libraries for web scraping and requests
requests
beautifulsoup4
selenium
webdriver-manager

# Library for fetching news
newsapi-python

# AWS SDK for Python to interact with S3
boto3

# Libraries for testing
moto[s3]
pytest